[submodule "misc/plugin_template"]
	path = misc/plugin_template
	url = https://github.com/erhuabushuo/plugin_template
[submodule "dnn/ludwig"]
	path = dnn/ludwig
	url = https://github.com/uber/ludwig
[submodule "dnn/pytorch-lightning"]
	path = dnn/pytorch-lightning
	url = https://github.com/PyTorchLightning/pytorch-lightning
[submodule "dnn/nni"]
	path = dnn/nni
	url = https://github.com/microsoft/nni
	
[submodule "dnn/darknet"]
	path = dnn/darknet
	url = https://github.com/pjreddie/darknet
[submodule "dnn/caffe"]
	path = dnn/caffe
	url = https://github.com/BVLC/caffe
